.cooking {
    text-align: center;
  
    
    input[type="text"] {
      padding: 10px;
      border-radius: 40px;
      font-size: 1.3rem;
      border: 3px solid $color-1;
      outline: none;
      transition: 0.4s;
      text-align: center;
      width: 400px;
      margin-bottom: 20px;
  
      &:focus {
        background: $color-1;
        border-radius: 4px;
        color: $white;
      }
    }
  
  
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  