.cooking {
    text-align: center;
  
    
    input[type="text"] {
      padding: 10px;
      border-radius: 40px;
      font-size: 1.3rem;
      border: 3px solid $color-1;
      outline: none;
      transition: 0.4s;
      text-align: center;
      width: 400px;
      margin-bottom: 20px;
  
      &:focus {
        background: $color-1;
        border-radius: 4px;
        color: $white;
      }
    }
  
  
  
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .btn-sort-container {
      margin: 8px auto;
      width: 220px;
      display: flex;
      justify-content: space-around;
      cursor: pointer;
  
      #top {
        border-radius: 10px 0 0 10px;
      }
      #flop {
        border-radius: 0 10px 10px 0;
      }
      #top,
      #flop {
        background: $color-1;
        width: 110px;
        transition: 0.3s;
        position: relative;
  
        &:hover {
          background: $color-3;
        }
      }
  
      #top h2, #flop h2 {
        font-size: 1,5rem;
      }
     
      #top span,
      #flop span {
        // position: absolute;
        top: 50%;
      }
    }
  }
  